@charset "UTF-8";

body {
  background-color: aliceblue;
  font-family: 'Segoe UI', sans-serif;
}

.quadro-branco {
  
  background-color:aliceblue
  padding:60px 20px;
  text-align:center;
}

.cabecalho-container{
  background-color: #264b8b;
  text-align: center;
}

.cabecalho-container h1{
  color: white;
  margin-top: 0; 
}

.cabecalho-container img{
  border-radius: 13%;
}

button{
    color:white;
    background-color: orangered;
    border-radius: 30px;
    border-color: orangered;
    border-width: 0;
    padding: 10px;
    cursor: pointer;
}

.lista-limpa {
  list-style: none;
  margin: 0; 
  box-shadow: 0 2xp 10 xp rgba(0,0,0,0,5);
  gap: 20px;
  display: flex;
}

.lista-limpa a:hover {
  color: orangered; /* Exemplo: muda a cor do texto para o laranja do seu botão */
  text-decoration: underline;
}

.menu-principal {
    background-color: #1E3c72; padding: 15px 0; /*0 se refere a esquerda e direita*/
    position: sticky; top:0; z-index: 1000;
    box-shadow: 0 2xp 10 xp rgba(0,0,0,0,5);
    
}

.menu-container {
    max-width: 1000px; margin: 0 auto; display: flex; 
    justify-content: space-between; align-items: center;
    padding: 0 20px;
}

.logo {
  color: white;
  text-decoration: none; 
  font-weight: bold;
  font-size: 1.2rem; text-decoration: uppercase;
}

.lista-limpa a{
      color: #cbdcf7; text-decoration: none; font-size: 0.9rem; 
      font-weight: 500; transition: color 0.3s;
}

.lista a:hover{
  color:white;
}

.principal{
  
  max-width: 900px;
  margin: -40px auto 40px;
  padding: 20px;

}

section{
  
  background: white;
  margin-bottom: 20px;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 5px 1px gray;
}

.importante {
  display: flex; /* por padrão adota-se a horizontal (row)*/
  gap: 20px;
}

.caixa-importante {
  flex: 1;
  background-color: #eef5ff;
  padding: 15px;
  border-left: 5px solid blue;
  border-radius: 8px;
  margin-bottom: 10px;

}

.recompensas ul {
    list-style: none;
    padding: 0;

}

.recompensas li {
    background-color: #e9f7ef;
    margin: 8px 0;
    padding: 10px;
    border-radius: 5px;
    color: #27ae90;
    font-weight: bold;

}

.missao p {
  line-height: 1.6; /*altura da linha - melhora a leirtura de textos longos*/
  margin-bottom: 20px;
  text-align: justify;


}

table {
  width: 100%;
  border-collapse: collapse; /* junto as bordas adjacentes, ficando um só*/
  margin-top: 20px;
  background-color: white;
}

th, td {
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd ;
  border-right: 1px solid #ddd ;
  padding: 12px;
  text-align: center;
}

th {
  background-color:#1E3c72;
  color: white;
  text-transform: uppercase;
  font-size: 0.85rem;
}

.amarelo {
width: 20px;
height: 20px;
background-color: yellow;
display: inline-block;
border-radius: 50%; /* Transforma o quadrado num círculo perfeito */
}

.cinza {
width: 20px;
height: 20px;
background-color: gray;
display: inline-block;
border-radius: 50%; /* Transforma o quadrado num círculo perfeito */
}

.carrossel-container {
  overflow-x: auto;
  height: 100%;
  scroll-snap-type: x mandatory; /* Ativa o íman no eixo horizontal */
}

.carrossel-trilha {
  display: flex;
  gap: 20px;
  height: 555px;
  
}

.card {
  flex-shrink: 0;
  width: 300px;
  text-align: center;
  background-color: white; 
  padding: 20px; 
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  scroll-snap-align: center;
}

.card ul {
  list-style: none;
  border-style: dashed;
  padding: 20px;
  border-color: yellow;
  background-color:#fff8e1;
}
.card li {
  list-style: none;
  color: goldenrod;
  margin-bottom: 10px;
}

.card-suplementos {
  flex: 1;
  background-color: rgb(247, 195, 195);
  padding: 5px;
  border-left: 5px solid red;
  border-radius: 8px;
  margin-bottom: 10px;
}